In [10]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression

In [11]:
df=pd.read_csv('kc_house_data.csv')
df.head(5)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [12]:
X=df.drop('price',axis=1)

In [13]:
y=df.price

In [14]:
import statsmodels.regression.linear_model as sm

In [15]:
x_opt=X

In [16]:
x_opt.insert(0,'ones',1)
x_opt.head(5)

,ones,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,1,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,1,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,1,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [17]:
regressor_OLS = sm.OLS(endog=y, exog=x_opt).fit()
regressor_OLS.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.700
Model:                            OLS   Adj. R-squared:                  0.700
Method:                 Least Squares   F-statistic:                     2961.
Date:                Sun, 28 Nov 2021   Prob (F-statistic):               0.00
Time:                        11:57:48   Log-Likelihood:            -2.9462e+05
No. Observations:               21613   AIC:                         5.893e+05
Df Residuals:                   21595   BIC:                         5.894e+05
Df Model:                          17
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
ones           6.677e+06   2.93e+06      2.276      0.023    9.27e+05    1.24e+07
bedrooms       -3.58e+04   1893.037    -18.910      0.000   -3.95e+04   -3.21e+04
bathrooms      4.117e+04   3255.732     12.644      0.000    3.48e+04    4.75e+04
sqft_living     110.5117      2.271     48.662      0.000     106.060     114.963
sqft_lot          0.1284      0.048      2.678      0.007       0.034       0.222
floors         6695.1575   3598.129      1.861      0.063    -357.441    1.37e+04
waterfront      5.83e+05   1.74e+04     33.563      0.000    5.49e+05    6.17e+05
view           5.293e+04   2141.405     24.719      0.000    4.87e+04    5.71e+04
condition      2.641e+04   2352.946     11.225      0.000    2.18e+04     3.1e+04
grade          9.599e+04   2154.148     44.559      0.000    9.18e+04       1e+05
sqft_above       70.8293      2.255     31.413      0.000      66.410      75.249
sqft_basement    39.6889      2.648     14.987      0.000      34.498      44.880
yr_built      -2622.4105     72.705    -36.069      0.000   -2764.918   -2479.903
yr_renovated     19.8242      3.658      5.420      0.000      12.654      26.994
zipcode        -582.5717     33.007    -17.650      0.000    -647.267    -517.876
lat            6.028e+05   1.07e+04     56.121      0.000    5.82e+05    6.24e+05
long           -2.15e+05   1.31e+04    -16.357      0.000   -2.41e+05   -1.89e+05
sqft_living15    21.6758      3.450      6.283      0.000      14.914      28.438
sqft_lot15       -0.3825      0.073     -5.217      0.000      -0.526      -0.239
==============================================================================
Omnibus:                    18359.449   Durbin-Watson:                   1.990
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1856934.171
Skew:                           3.560   Prob(JB):                         0.00
Kurtosis:                      47.848   Cond. No.                     3.37e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.92e-21. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""