In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
df=pd.read_csv("train.csv")
df.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,OverallQual,OverallCond,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,7,5,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,6,8,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,7,5,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,7,5,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,8,5,...,192,84,0,0,0,0,0,12,2008,250000

In [136]:
y=df['SalePrice']
y

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [137]:
df=df.drop('SalePrice',axis='columns')

In [138]:
df=df.drop('Id',axis='columns')
df

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,OverallQual,OverallCond,YearBuilt,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,60,RL,65.0,8450,Pave,NaN,Reg,7,5,2003,...,548,0,61,0,0,0,0,0,2,2008
1,20,RL,80.0,9600,Pave,NaN,Reg,6,8,1976,...,460,298,0,0,0,0,0,0,5,2007
2,60,RL,68.0,11250,Pave,NaN,IR1,7,5,2001,...,608,0,42,0,0,0,0,0,9,2008
3,70,RL,60.0,9550,Pave,NaN,IR1,7,5,1915,...,642,0,35,272,0,0,0,0,2,2006
4,60,RL,84.0,14260,Pave,NaN,IR1,8,5,2000,...,836,192,84,0,0,0,0,0,12,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,RL,62.0,7917,Pave,NaN,Reg,6,5,1999,...,460,0,40,0,0,0,0,0,8,2007
1456,20,RL,85.0,13175,Pave,NaN,Reg,6,6,1978,...,500,349,0,0,0,0,0,0,2,2010
1457,70,RL,66.0,9042,Pave,NaN,Reg,7,9,1941,...,252,0,60,0,0,0,0,2500,5,2010
1458,20,RL,68.0,9717,Pave,NaN,Reg,5,6,1950,...,240,366,0,112,0,0,0,0,4,2010
1459,20,RL,75.0,9937,Pave,NaN,Reg,5,6,1965,...,276,736,68,0,0,0,0,0,6,2008

In [139]:
msZoning_dummies=pd.get_dummies(df.MSZoning)
msZoning_dummies

      C (all)  FV  RH  RL  RM
0           0   0   0   1   0
1           0   0   0   1   0
2           0   0   0   1   0
3           0   0   0   1   0
4           0   0   0   1   0
...       ...  ..  ..  ..  ..
1455        0   0   0   1   0
1456        0   0   0   1   0
1457        0   0   0   1   0
1458        0   0   0   1   0
1459        0   0   0   1   0

[1460 rows x 5 columns]

In [140]:
df=pd.concat([df,msZoning_dummies],axis="columns")
df

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,OverallQual,OverallCond,YearBuilt,...,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,C (all),FV,RH,RL,RM
0,60,RL,65.0,8450,Pave,NaN,Reg,7,5,2003,...,0,0,0,2,2008,0,0,0,1,0
1,20,RL,80.0,9600,Pave,NaN,Reg,6,8,1976,...,0,0,0,5,2007,0,0,0,1,0
2,60,RL,68.0,11250,Pave,NaN,IR1,7,5,2001,...,0,0,0,9,2008,0,0,0,1,0
3,70,RL,60.0,9550,Pave,NaN,IR1,7,5,1915,...,0,0,0,2,2006,0,0,0,1,0
4,60,RL,84.0,14260,Pave,NaN,IR1,8,5,2000,...,0,0,0,12,2008,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,RL,62.0,7917,Pave,NaN,Reg,6,5,1999,...,0,0,0,8,2007,0,0,0,1,0
1456,20,RL,85.0,13175,Pave,NaN,Reg,6,6,1978,...,0,0,0,2,2010,0,0,0,1,0
1457,70,RL,66.0,9042,Pave,NaN,Reg,7,9,1941,...,0,0,2500,5,2010,0,0,0,1,0
1458,20,RL,68.0,9717,Pave,NaN,Reg,5,6,1950,...,0,0,0,4,2010,0,0,0,1,0
1459,20,RL,75.0,9937,Pave,NaN,Reg,5,6,1965,...,0,0,0,6,2008,0,0,0,1,0

In [141]:
df=df.drop('MSZoning',axis='columns')
df

,MSSubClass,LotFrontage,LotArea,Street,Alley,LotShape,OverallQual,OverallCond,YearBuilt,YearRemodAdd,...,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,C (all),FV,RH,RL,RM
0,60,65.0,8450,Pave,NaN,Reg,7,5,2003,2003,...,0,0,0,2,2008,0,0,0,1,0
1,20,80.0,9600,Pave,NaN,Reg,6,8,1976,1976,...,0,0,0,5,2007,0,0,0,1,0
2,60,68.0,11250,Pave,NaN,IR1,7,5,2001,2002,...,0,0,0,9,2008,0,0,0,1,0
3,70,60.0,9550,Pave,NaN,IR1,7,5,1915,1970,...,0,0,0,2,2006,0,0,0,1,0
4,60,84.0,14260,Pave,NaN,IR1,8,5,2000,2000,...,0,0,0,12,2008,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,62.0,7917,Pave,NaN,Reg,6,5,1999,2000,...,0,0,0,8,2007,0,0,0,1,0
1456,20,85.0,13175,Pave,NaN,Reg,6,6,1978,1988,...,0,0,0,2,2010,0,0,0,1,0
1457,70,66.0,9042,Pave,NaN,Reg,7,9,1941,2006,...,0,0,2500,5,2010,0,0,0,1,0
1458,20,68.0,9717,Pave,NaN,Reg,5,6,1950,1996,...,0,0,0,4,2010,0,0,0,1,0
1459,20,75.0,9937,Pave,NaN,Reg,5,6,1965,1965,...,0,0,0,6,2008,0,0,0,1,0

In [142]:
df.Street.unique()

array(['Pave', 'Grvl'], dtype=object)

In [143]:
street_dummies=pd.get_dummies(df.Street)
street_dummies

      Grvl  Pave
0        0     1
1        0     1
2        0     1
3        0     1
4        0     1
...    ...   ...
1455     0     1
1456     0     1
1457     0     1
1458     0     1
1459     0     1

[1460 rows x 2 columns]

In [144]:
df=pd.concat([df,street_dummies],axis='columns')
df

,MSSubClass,LotFrontage,LotArea,Street,Alley,LotShape,OverallQual,OverallCond,YearBuilt,YearRemodAdd,...,MiscVal,MoSold,YrSold,C (all),FV,RH,RL,RM,Grvl,Pave
0,60,65.0,8450,Pave,NaN,Reg,7,5,2003,2003,...,0,2,2008,0,0,0,1,0,0,1
1,20,80.0,9600,Pave,NaN,Reg,6,8,1976,1976,...,0,5,2007,0,0,0,1,0,0,1
2,60,68.0,11250,Pave,NaN,IR1,7,5,2001,2002,...,0,9,2008,0,0,0,1,0,0,1
3,70,60.0,9550,Pave,NaN,IR1,7,5,1915,1970,...,0,2,2006,0,0,0,1,0,0,1
4,60,84.0,14260,Pave,NaN,IR1,8,5,2000,2000,...,0,12,2008,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,62.0,7917,Pave,NaN,Reg,6,5,1999,2000,...,0,8,2007,0,0,0,1,0,0,1
1456,20,85.0,13175,Pave,NaN,Reg,6,6,1978,1988,...,0,2,2010,0,0,0,1,0,0,1
1457,70,66.0,9042,Pave,NaN,Reg,7,9,1941,2006,...,2500,5,2010,0,0,0,1,0,0,1
1458,20,68.0,9717,Pave,NaN,Reg,5,6,1950,1996,...,0,4,2010,0,0,0,1,0,0,1
1459,20,75.0,9937,Pave,NaN,Reg,5,6,1965,1965,...,0,6,2008,0,0,0,1,0,0,1

In [145]:
df=df.drop('Street',axis='columns')
df

,MSSubClass,LotFrontage,LotArea,Alley,LotShape,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,...,MiscVal,MoSold,YrSold,C (all),FV,RH,RL,RM,Grvl,Pave
0,60,65.0,8450,NaN,Reg,7,5,2003,2003,196.0,...,0,2,2008,0,0,0,1,0,0,1
1,20,80.0,9600,NaN,Reg,6,8,1976,1976,0.0,...,0,5,2007,0,0,0,1,0,0,1
2,60,68.0,11250,NaN,IR1,7,5,2001,2002,162.0,...,0,9,2008,0,0,0,1,0,0,1
3,70,60.0,9550,NaN,IR1,7,5,1915,1970,0.0,...,0,2,2006,0,0,0,1,0,0,1
4,60,84.0,14260,NaN,IR1,8,5,2000,2000,350.0,...,0,12,2008,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,62.0,7917,NaN,Reg,6,5,1999,2000,0.0,...,0,8,2007,0,0,0,1,0,0,1
1456,20,85.0,13175,NaN,Reg,6,6,1978,1988,119.0,...,0,2,2010,0,0,0,1,0,0,1
1457,70,66.0,9042,NaN,Reg,7,9,1941,2006,0.0,...,2500,5,2010,0,0,0,1,0,0,1
1458,20,68.0,9717,NaN,Reg,5,6,1950,1996,0.0,...,0,4,2010,0,0,0,1,0,0,1
1459,20,75.0,9937,NaN,Reg,5,6,1965,1965,0.0,...,0,6,2008,0,0,0,1,0,0,1

In [146]:
df.Alley.unique()

array([nan, 'Grvl', 'Pave'], dtype=object)

In [147]:
alley_dummies=pd.get_dummies(df.Alley)
alley_dummies

      Grvl  Pave
0        0     0
1        0     0
2        0     0
3        0     0
4        0     0
...    ...   ...
1455     0     0
1456     0     0
1457     0     0
1458     0     0
1459     0     0

[1460 rows x 2 columns]

In [148]:
df=pd.concat([df,alley_dummies],axis='columns')
df

,MSSubClass,LotFrontage,LotArea,Alley,LotShape,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,...,YrSold,C (all),FV,RH,RL,RM,Grvl,Pave,Grvl,Pave
0,60,65.0,8450,NaN,Reg,7,5,2003,2003,196.0,...,2008,0,0,0,1,0,0,1,0,0
1,20,80.0,9600,NaN,Reg,6,8,1976,1976,0.0,...,2007,0,0,0,1,0,0,1,0,0
2,60,68.0,11250,NaN,IR1,7,5,2001,2002,162.0,...,2008,0,0,0,1,0,0,1,0,0
3,70,60.0,9550,NaN,IR1,7,5,1915,1970,0.0,...,2006,0,0,0,1,0,0,1,0,0
4,60,84.0,14260,NaN,IR1,8,5,2000,2000,350.0,...,2008,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,62.0,7917,NaN,Reg,6,5,1999,2000,0.0,...,2007,0,0,0,1,0,0,1,0,0
1456,20,85.0,13175,NaN,Reg,6,6,1978,1988,119.0,...,2010,0,0,0,1,0,0,1,0,0
1457,70,66.0,9042,NaN,Reg,7,9,1941,2006,0.0,...,2010,0,0,0,1,0,0,1,0,0
1458,20,68.0,9717,NaN,Reg,5,6,1950,1996,0.0,...,2010,0,0,0,1,0,0,1,0,0
1459,20,75.0,9937,NaN,Reg,5,6,1965,1965,0.0,...,2008,0,0,0,1,0,0,1,0,0

In [149]:
df=df.drop('Alley',axis='columns')
df

,MSSubClass,LotFrontage,LotArea,LotShape,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,YrSold,C (all),FV,RH,RL,RM,Grvl,Pave,Grvl,Pave
0,60,65.0,8450,Reg,7,5,2003,2003,196.0,706,...,2008,0,0,0,1,0,0,1,0,0
1,20,80.0,9600,Reg,6,8,1976,1976,0.0,978,...,2007,0,0,0,1,0,0,1,0,0
2,60,68.0,11250,IR1,7,5,2001,2002,162.0,486,...,2008,0,0,0,1,0,0,1,0,0
3,70,60.0,9550,IR1,7,5,1915,1970,0.0,216,...,2006,0,0,0,1,0,0,1,0,0
4,60,84.0,14260,IR1,8,5,2000,2000,350.0,655,...,2008,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,62.0,7917,Reg,6,5,1999,2000,0.0,0,...,2007,0,0,0,1,0,0,1,0,0
1456,20,85.0,13175,Reg,6,6,1978,1988,119.0,790,...,2010,0,0,0,1,0,0,1,0,0
1457,70,66.0,9042,Reg,7,9,1941,2006,0.0,275,...,2010,0,0,0,1,0,0,1,0,0
1458,20,68.0,9717,Reg,5,6,1950,1996,0.0,49,...,2010,0,0,0,1,0,0,1,0,0
1459,20,75.0,9937,Reg,5,6,1965,1965,0.0,830,...,2008,0,0,0,1,0,0,1,0,0

In [150]:
df.LotShape.unique()

array(['Reg', 'IR1', 'IR2', 'IR3'], dtype=object)

In [151]:
lotShape_dummies=pd.get_dummies(df.LotShape)
lotShape_dummies

      IR1  IR2  IR3  Reg
0       0    0    0    1
1       0    0    0    1
2       1    0    0    0
3       1    0    0    0
4       1    0    0    0
...   ...  ...  ...  ...
1455    0    0    0    1
1456    0    0    0    1
1457    0    0    0    1
1458    0    0    0    1
1459    0    0    0    1

[1460 rows x 4 columns]

In [152]:
df=pd.concat([df,lotShape_dummies],axis='columns')
df

,MSSubClass,LotFrontage,LotArea,LotShape,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,RL,RM,Grvl,Pave,Grvl,Pave,IR1,IR2,IR3,Reg
0,60,65.0,8450,Reg,7,5,2003,2003,196.0,706,...,1,0,0,1,0,0,0,0,0,1
1,20,80.0,9600,Reg,6,8,1976,1976,0.0,978,...,1,0,0,1,0,0,0,0,0,1
2,60,68.0,11250,IR1,7,5,2001,2002,162.0,486,...,1,0,0,1,0,0,1,0,0,0
3,70,60.0,9550,IR1,7,5,1915,1970,0.0,216,...,1,0,0,1,0,0,1,0,0,0
4,60,84.0,14260,IR1,8,5,2000,2000,350.0,655,...,1,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,62.0,7917,Reg,6,5,1999,2000,0.0,0,...,1,0,0,1,0,0,0,0,0,1
1456,20,85.0,13175,Reg,6,6,1978,1988,119.0,790,...,1,0,0,1,0,0,0,0,0,1
1457,70,66.0,9042,Reg,7,9,1941,2006,0.0,275,...,1,0,0,1,0,0,0,0,0,1
1458,20,68.0,9717,Reg,5,6,1950,1996,0.0,49,...,1,0,0,1,0,0,0,0,0,1
1459,20,75.0,9937,Reg,5,6,1965,1965,0.0,830,...,1,0,0,1,0,0,0,0,0,1

In [153]:
df=df.drop('LotShape',axis='columns')
df

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,RL,RM,Grvl,Pave,Grvl,Pave,IR1,IR2,IR3,Reg
0,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,1,0,0,1,0,0,0,0,0,1
1,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,1,0,0,1,0,0,0,0,0,1
2,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,1,0,0,1,0,0,1,0,0,0
3,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,1,0,0,1,0,0,1,0,0,0
4,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,1,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,62.0,7917,6,5,1999,2000,0.0,0,0,...,1,0,0,1,0,0,0,0,0,1
1456,20,85.0,13175,6,6,1978,1988,119.0,790,163,...,1,0,0,1,0,0,0,0,0,1
1457,70,66.0,9042,7,9,1941,2006,0.0,275,0,...,1,0,0,1,0,0,0,0,0,1
1458,20,68.0,9717,5,6,1950,1996,0.0,49,1029,...,1,0,0,1,0,0,0,0,0,1
1459,20,75.0,9937,5,6,1965,1965,0.0,830,290,...,1,0,0,1,0,0,0,0,0,1

In [154]:
lotfrontage_mean=df.LotFrontage.mean()
lotfrontage_mean

70.04995836802665

In [155]:
import math
mean=math.floor(lotfrontage_mean)
mean

70

In [119]:
df.LotFrontage=df.LotFrontage.fillna(mean)
df

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,RL,RM,Grvl,Pave,Grvl,Pave,IR1,IR2,IR3,Reg
0,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,1,0,0,1,0,0,0,0,0,1
1,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,1,0,0,1,0,0,0,0,0,1
2,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,1,0,0,1,0,0,1,0,0,0
3,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,1,0,0,1,0,0,1,0,0,0
4,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,1,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,62.0,7917,6,5,1999,2000,0.0,0,0,...,1,0,0,1,0,0,0,0,0,1
1456,20,85.0,13175,6,6,1978,1988,119.0,790,163,...,1,0,0,1,0,0,0,0,0,1
1457,70,66.0,9042,7,9,1941,2006,0.0,275,0,...,1,0,0,1,0,0,0,0,0,1
1458,20,68.0,9717,5,6,1950,1996,0.0,49,1029,...,1,0,0,1,0,0,0,0,0,1
1459,20,75.0,9937,5,6,1965,1965,0.0,830,290,...,1,0,0,1,0,0,0,0,0,1

In [120]:
garageYrBlt_mean=df.GarageYrBlt.mean()
garageYrBlt_mean

1978.5061638868744

In [121]:
garageYrBlt_mean=math.floor(garageYrBlt_mean)
garageYrBlt_mean

1978

In [122]:
df.GarageYrBlt=df.GarageYrBlt.fillna(garageYrBlt_mean)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [123]:
X=df
df

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,RL,RM,Grvl,Pave,Grvl,Pave,IR1,IR2,IR3,Reg
0,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,1,0,0,1,0,0,0,0,0,1
1,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,1,0,0,1,0,0,0,0,0,1
2,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,1,0,0,1,0,0,1,0,0,0
3,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,1,0,0,1,0,0,1,0,0,0
4,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,1,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,62.0,7917,6,5,1999,2000,0.0,0,0,...,1,0,0,1,0,0,0,0,0,1
1456,20,85.0,13175,6,6,1978,1988,119.0,790,163,...,1,0,0,1,0,0,0,0,0,1
1457,70,66.0,9042,7,9,1941,2006,0.0,275,0,...,1,0,0,1,0,0,0,0,0,1
1458,20,68.0,9717,5,6,1950,1996,0.0,49,1029,...,1,0,0,1,0,0,0,0,0,1
1459,20,75.0,9937,5,6,1965,1965,0.0,830,290,...,1,0,0,1,0,0,0,0,0,1

In [124]:
X.columns

Index(['MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual', 'OverallCond',
       'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2',
       'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'GarageYrBlt', 'GarageCars',
       'GarageArea', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold', 'C (all)',
       'FV', 'RH', 'RL', 'RM', 'Grvl', 'Pave', 'Grvl', 'Pave', 'IR1', 'IR2',
       'IR3', 'Reg'],
      dtype='object')

In [125]:
df.columns

Index(['MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual', 'OverallCond',
       'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2',
       'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'GarageYrBlt', 'GarageCars',
       'GarageArea', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold', 'C (all)',
       'FV', 'RH', 'RL', 'RM', 'Grvl', 'Pave', 'Grvl', 'Pave', 'IR1', 'IR2',
       'IR3', 'Reg'],
      dtype='object')

In [126]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()

In [127]:
X=sc_X.fit_transform(X)
X

array([[ 0.07337496, -0.22896913, -0.20714171, ..., -0.16998114,
        -0.08304548,  0.76051192],
       [-0.87256276,  0.45233847, -0.09188637, ..., -0.16998114,
        -0.08304548,  0.76051192],
       [ 0.07337496, -0.09270761,  0.07347998, ..., -0.16998114,
        -0.08304548, -1.31490378],
       ...,
       [ 0.30985939, -0.18354862, -0.14781027, ..., -0.16998114,
        -0.08304548,  0.76051192],
       [-0.87256276, -0.09270761, -0.08016039, ..., -0.16998114,
        -0.08304548,  0.76051192],
       [-0.87256276,  0.22523594, -0.05811155, ..., -0.16998114,
        -0.08304548,  0.76051192]])

In [128]:
df.insert(0,'ones',1)

In [129]:
df.head(5)

,ones,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,RL,RM,Grvl,Pave,Grvl,Pave,IR1,IR2,IR3,Reg
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,1,0,0,1,0,0,0,0,0,1
1,1,20,80.0,9600,6,8,1976,1976,0.0,978,...,1,0,0,1,0,0,0,0,0,1
2,1,60,68.0,11250,7,5,2001,2002,162.0,486,...,1,0,0,1,0,0,1,0,0,0
3,1,70,60.0,9550,7,5,1915,1970,0.0,216,...,1,0,0,1,0,0,1,0,0,0
4,1,60,84.0,14260,8,5,2000,2000,350.0,655,...,1,0,0,1,0,0,1,0,0,0

In [130]:
import statsmodels.api as sm
X_opt=df

In [131]:
y

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [132]:
X_opt

,ones,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,RL,RM,Grvl,Pave,Grvl,Pave,IR1,IR2,IR3,Reg
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,1,0,0,1,0,0,0,0,0,1
1,1,20,80.0,9600,6,8,1976,1976,0.0,978,...,1,0,0,1,0,0,0,0,0,1
2,1,60,68.0,11250,7,5,2001,2002,162.0,486,...,1,0,0,1,0,0,1,0,0,0
3,1,70,60.0,9550,7,5,1915,1970,0.0,216,...,1,0,0,1,0,0,1,0,0,0
4,1,60,84.0,14260,8,5,2000,2000,350.0,655,...,1,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1,60,62.0,7917,6,5,1999,2000,0.0,0,...,1,0,0,1,0,0,0,0,0,1
1456,1,20,85.0,13175,6,6,1978,1988,119.0,790,...,1,0,0,1,0,0,0,0,0,1
1457,1,70,66.0,9042,7,9,1941,2006,0.0,275,...,1,0,0,1,0,0,0,0,0,1
1458,1,20,68.0,9717,5,6,1950,1996,0.0,49,...,1,0,0,1,0,0,0,0,0,1
1459,1,20,75.0,9937,5,6,1965,1965,0.0,830,...,1,0,0,1,0,0,0,0,0,1

In [133]:
len(df.columns)

48

In [91]:
X_opt=df.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47]].values

In [156]:
type(X_opt)

pandas.core.frame.DataFrame

In [157]:
type(y)

pandas.core.series.Series

In [158]:
y=y.fillna(y.mean)

In [161]:
X_opt.fillna(0)

,ones,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,RL,RM,Grvl,Pave,Grvl,Pave,IR1,IR2,IR3,Reg
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,1,0,0,1,0,0,0,0,0,1
1,1,20,80.0,9600,6,8,1976,1976,0.0,978,...,1,0,0,1,0,0,0,0,0,1
2,1,60,68.0,11250,7,5,2001,2002,162.0,486,...,1,0,0,1,0,0,1,0,0,0
3,1,70,60.0,9550,7,5,1915,1970,0.0,216,...,1,0,0,1,0,0,1,0,0,0
4,1,60,84.0,14260,8,5,2000,2000,350.0,655,...,1,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1,60,62.0,7917,6,5,1999,2000,0.0,0,...,1,0,0,1,0,0,0,0,0,1
1456,1,20,85.0,13175,6,6,1978,1988,119.0,790,...,1,0,0,1,0,0,0,0,0,1
1457,1,70,66.0,9042,7,9,1941,2006,0.0,275,...,1,0,0,1,0,0,0,0,0,1
1458,1,20,68.0,9717,5,6,1950,1996,0.0,49,...,1,0,0,1,0,0,0,0,0,1
1459,1,20,75.0,9937,5,6,1965,1965,0.0,830,...,1,0,0,1,0,0,0,0,0,1

In [163]:
y.fillna(0)

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [164]:
model=sm.OLS(endog=y,exog=X_opt).fit()
model.summary()

MissingDataError: exog contains inf or nans