In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
df=pd.read_csv('insurance.csv')
df.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
y=df.charges
X=df.drop('charges',axis=1)

In [4]:
y.head(5)

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

In [5]:
X.head(5)

   age     sex     bmi  children smoker     region
0   19  female  27.900         0    yes  southwest
1   18    male  33.770         1     no  southeast
2   28    male  33.000         3     no  southeast
3   33    male  22.705         0     no  northwest
4   32    male  28.880         0     no  northwest

In [6]:
print(df.age.min())
print(df.age.max())

18
64

In [7]:
age_dummies=pd.get_dummies(df.sex)
age_dummies

      female  male
0          1     0
1          0     1
2          0     1
3          0     1
4          0     1
...      ...   ...
1333       0     1
1334       1     0
1335       1     0
1336       1     0
1337       1     0

[1338 rows x 2 columns]

In [8]:
X=pd.concat([X,age_dummies],axis=1)
X.head(5)

   age     sex     bmi  children smoker     region  female  male
0   19  female  27.900         0    yes  southwest       1     0
1   18    male  33.770         1     no  southeast       0     1
2   28    male  33.000         3     no  southeast       0     1
3   33    male  22.705         0     no  northwest       0     1
4   32    male  28.880         0     no  northwest       0     1

In [9]:
X=X.drop('sex',axis=1)
X.head(5)

   age     bmi  children smoker     region  female  male
0   19  27.900         0    yes  southwest       1     0
1   18  33.770         1     no  southeast       0     1
2   28  33.000         3     no  southeast       0     1
3   33  22.705         0     no  northwest       0     1
4   32  28.880         0     no  northwest       0     1

In [10]:
X=X.drop('male',axis=1)
X.head(5)

   age     bmi  children smoker     region  female
0   19  27.900         0    yes  southwest       1
1   18  33.770         1     no  southeast       0
2   28  33.000         3     no  southeast       0
3   33  22.705         0     no  northwest       0
4   32  28.880         0     no  northwest       0

In [11]:
smoker_dummies=pd.get_dummies(df.smoker)
smoker_dummies.head(5)

   no  yes
0   0    1
1   1    0
2   1    0
3   1    0
4   1    0

In [12]:
smoker_dummies=smoker_dummies.drop('yes',axis=1)
smoker_dummies.head(5)

   no
0   0
1   1
2   1
3   1
4   1

In [13]:
X=pd.concat([X,smoker_dummies],axis=1)
X.head(5)

   age     bmi  children smoker     region  female  no
0   19  27.900         0    yes  southwest       1   0
1   18  33.770         1     no  southeast       0   1
2   28  33.000         3     no  southeast       0   1
3   33  22.705         0     no  northwest       0   1
4   32  28.880         0     no  northwest       0   1

In [14]:
X=X.drop('smoker',axis=1)
X.head(5)

   age     bmi  children     region  female  no
0   19  27.900         0  southwest       1   0
1   18  33.770         1  southeast       0   1
2   28  33.000         3  southeast       0   1
3   33  22.705         0  northwest       0   1
4   32  28.880         0  northwest       0   1

In [15]:
region_dummies=pd.get_dummies(df.region)
region_dummies.head(5)

   northeast  northwest  southeast  southwest
0          0          0          0          1
1          0          0          1          0
2          0          0          1          0
3          0          1          0          0
4          0          1          0          0

In [16]:
region_dummies=region_dummies.drop('southwest',axis=1)
region_dummies.head(5)

   northeast  northwest  southeast
0          0          0          0
1          0          0          1
2          0          0          1
3          0          1          0
4          0          1          0

In [17]:
X=pd.concat([X,region_dummies],axis=1)

In [18]:
X=X.drop('region',axis=1)
X.head(5)

   age     bmi  children  female  no  northeast  northwest  southeast
0   19  27.900         0       1   0          0          0          0
1   18  33.770         1       0   1          0          0          1
2   28  33.000         3       0   1          0          0          1
3   33  22.705         0       0   1          0          1          0
4   32  28.880         0       0   1          0          1          0

In [19]:
print(df.bmi.min())
print(df.bmi.max())

15.96
53.13

In [20]:
mean=X.bmi.mean()
mean

30.655022471910097

In [21]:
X.bmi=X.bmi.fillna(mean)

In [66]:
X.head(5)

   age     bmi  children  female  no  northeast  northwest  southeast
0   19  27.900         0       1   0          0          0          0
1   18  33.770         1       0   1          0          0          1
2   28  33.000         3       0   1          0          0          1
3   33  22.705         0       0   1          0          1          0
4   32  28.880         0       0   1          0          1          0

In [22]:
X.insert(0,'ones',1)
X.head(5)

   ones  age     bmi  children  female  no  northeast  northwest  southeast
0     1   19  27.900         0       1   0          0          0          0
1     1   18  33.770         1       0   1          0          0          1
2     1   28  33.000         3       0   1          0          0          1
3     1   33  22.705         0       0   1          0          1          0
4     1   32  28.880         0       0   1          0          1          0

In [36]:
x_opt=X

In [42]:
import statsmodels.api as sm

In [ ]:
import statsmodels.regression.linear_model as sm

In [43]:
regressor_OLS = sm.OLS(endog=y, exog=x_opt).fit()
regressor_OLS.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.751
Model:                            OLS   Adj. R-squared:                  0.750
Method:                 Least Squares   F-statistic:                     668.4
Date:                Sun, 21 Nov 2021   Prob (F-statistic):               0.00
Time:                        22:17:27   Log-Likelihood:                -13548.
No. Observations:                1338   AIC:                         2.711e+04
Df Residuals:                    1331   BIC:                         2.715e+04
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
ones        1.088e+04   1048.506     10.379      0.000    8825.617    1.29e+04
age          256.9224     11.884     21.619      0.000     233.609     280.236
bmi          337.6982     28.147     11.997      0.000     282.480     392.916
children     474.8728    137.645      3.450      0.001     204.848     744.898
no         -2.383e+04    410.892    -58.005      0.000   -2.46e+04    -2.3e+04
northeast    991.4217    416.108      2.383      0.017     175.123    1807.721
northwest    640.6716    415.870      1.541      0.124    -175.160    1456.503
==============================================================================
Omnibus:                      300.068   Durbin-Watson:                   2.089
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              717.968
Skew:                           1.210   Prob(JB):                    1.25e-156
Kurtosis:                       5.650   Cond. No.                         331.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [38]:
x_opt=x_opt.drop('southeast',axis=1)

In [44]:
regressor_OLS = sm.OLS(endog=y, exog=x_opt).fit()
regressor_OLS.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.751
Model:                            OLS   Adj. R-squared:                  0.750
Method:                 Least Squares   F-statistic:                     668.4
Date:                Sun, 21 Nov 2021   Prob (F-statistic):               0.00
Time:                        22:17:45   Log-Likelihood:                -13548.
No. Observations:                1338   AIC:                         2.711e+04
Df Residuals:                    1331   BIC:                         2.715e+04
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
ones        1.088e+04   1048.506     10.379      0.000    8825.617    1.29e+04
age          256.9224     11.884     21.619      0.000     233.609     280.236
bmi          337.6982     28.147     11.997      0.000     282.480     392.916
children     474.8728    137.645      3.450      0.001     204.848     744.898
no         -2.383e+04    410.892    -58.005      0.000   -2.46e+04    -2.3e+04
northeast    991.4217    416.108      2.383      0.017     175.123    1807.721
northwest    640.6716    415.870      1.541      0.124    -175.160    1456.503
==============================================================================
Omnibus:                      300.068   Durbin-Watson:                   2.089
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              717.968
Skew:                           1.210   Prob(JB):                    1.25e-156
Kurtosis:                       5.650   Cond. No.                         331.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [40]:
x_opt=x_opt.drop('female',axis=1)

In [41]:
regressor_OLS = sm.OLS(endog=y, exog=x_opt).fit()
regressor_OLS.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.751
Model:                            OLS   Adj. R-squared:                  0.750
Method:                 Least Squares   F-statistic:                     668.4
Date:                Sun, 21 Nov 2021   Prob (F-statistic):               0.00
Time:                        22:12:23   Log-Likelihood:                -13548.
No. Observations:                1338   AIC:                         2.711e+04
Df Residuals:                    1331   BIC:                         2.715e+04
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
ones        1.088e+04   1048.506     10.379      0.000    8825.617    1.29e+04
age          256.9224     11.884     21.619      0.000     233.609     280.236
bmi          337.6982     28.147     11.997      0.000     282.480     392.916
children     474.8728    137.645      3.450      0.001     204.848     744.898
no         -2.383e+04    410.892    -58.005      0.000   -2.46e+04    -2.3e+04
northeast    991.4217    416.108      2.383      0.017     175.123    1807.721
northwest    640.6716    415.870      1.541      0.124    -175.160    1456.503
==============================================================================
Omnibus:                      300.068   Durbin-Watson:                   2.089
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              717.968
Skew:                           1.210   Prob(JB):                    1.25e-156
Kurtosis:                       5.650   Cond. No.                         331.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [45]:
x_opt=x_opt.drop('northwest',axis=1)

In [46]:
regressor_OLS = sm.OLS(endog=y, exog=x_opt).fit()
regressor_OLS.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.750
Model:                            OLS   Adj. R-squared:                  0.749
Method:                 Least Squares   F-statistic:                     800.8
Date:                Sun, 21 Nov 2021   Prob (F-statistic):               0.00
Time:                        22:18:44   Log-Likelihood:                -13549.
No. Observations:                1338   AIC:                         2.711e+04
Df Residuals:                    1332   BIC:                         2.714e+04
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
ones        1.131e+04   1011.704     11.179      0.000    9324.949    1.33e+04
age          257.2978     11.888     21.644      0.000     233.977     280.619
bmi          329.3381     27.634     11.918      0.000     275.128     383.548
children     479.1582    137.688      3.480      0.001     209.050     749.267
no         -2.381e+04    410.812    -57.958      0.000   -2.46e+04    -2.3e+04
northeast    770.0427    390.709      1.971      0.049       3.571    1536.514
==============================================================================
Omnibus:                      301.626   Durbin-Watson:                   2.083
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              726.089
Skew:                           1.214   Prob(JB):                    2.15e-158
Kurtosis:                       5.671   Cond. No.                         317.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [47]:
X=x_opt

In [48]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X=sc_X.fit_transform(X)
X

array([[ 0.00000000e+00, -1.43876426e+00, -4.52187478e-01,
        -9.08613667e-01, -1.97058663e+00, -5.65266864e-01],
       [ 0.00000000e+00, -1.50996545e+00,  5.11267638e-01,
        -7.87671916e-02,  5.07463099e-01, -5.65266864e-01],
       [ 0.00000000e+00, -7.97953548e-01,  3.84885962e-01,
         1.58092576e+00,  5.07463099e-01, -5.65266864e-01],
       ...,
       [ 0.00000000e+00, -1.50996545e+00, -2.91557084e-15,
        -9.08613667e-01,  5.07463099e-01, -5.65266864e-01],
       [ 0.00000000e+00, -1.29636188e+00, -7.96864776e-01,
        -9.08613667e-01,  5.07463099e-01, -5.65266864e-01],
       [ 0.00000000e+00,  1.55168573e+00, -2.60152983e-01,
        -9.08613667e-01, -1.97058663e+00, -5.65266864e-01]])

In [49]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test =train_test_split(X,y,test_size=0.2,random_state=0)

In [50]:
x_train

array([[ 0.        , -0.15714284,  0.56543121,  2.41077224, -1.97058663,
        -0.56526686],
       [ 0.        , -1.50996545,  0.61959479, -0.90861367,  0.5074631 ,
        -0.56526686],
       [ 0.        , -1.1539595 ,  0.98725057,  0.75107928, -1.97058663,
         1.76907593],
       ...,
       [ 0.        ,  0.05646073, -0.91503985, -0.90861367,  0.5074631 ,
        -0.56526686],
       [ 0.        , -1.43876426,  0.80014004, -0.90861367,  0.5074631 ,
        -0.56526686],
       [ 0.        , -0.4419476 , -1.99502872, -0.07876719,  0.5074631 ,
        -0.56526686]])

In [51]:
y_train

621     40182.24600
194      1137.46970
240     38511.62830
1168     4670.64000
1192    13019.16105
           ...
763      3070.80870
835      7160.33030
1216     5415.66120
559      1646.42970
684      4766.02200
Name: charges, Length: 1070, dtype: float64

In [52]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [54]:
model.score(x_test,y_test)

0.7994549634054711